/* Admin 페이지 스타일 */

/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 35px 1fr 50px;
  height: 100vh;
  width: 430px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

/* 헤더 스타일 */
header {
  background-color: #334D8F;
  color: white;
  padding: 0 10px; /* 여백 추가 */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: azure;
}



/* 푸터 스타일 */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 0.5em;
}


#container {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fafafa;
}

legend {
  padding: 0 10px;
  font-weight: bold;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label.inline {
  flex-direction: row;
  align-items: center;
}

input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="file"],
select,
textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

input[type="submit"] {
  background-color: #334D8F;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #283d72;
}

img {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 100px;
  cursor: pointer;
}